{{#each errors}}
<div class="msg msg-error">{{text}}</div>
{{else}}
{{/each}}
<h2>Edit Category</h2>
<form action="/admin/category/edit" method="POST">
  <input type="hidden" name="id" value="{{category._id}}" />
  <div class="form-group">
    <label class="validate" for="name">name</label>
    <input class="validate" type="text" name="name" id="name" value="{{category.name}}" required autofocus />
  </div>
  <div class="form-group form-group-actions">
    <button type="submit">
      <i class="material-icons">done</i>
      confirm update
    </button>
    <a href="/admin/category">cancel</a>
  </div>
</form>