{{#each errors}}
<div class="msg msg-error">{{text}}</div>
{{else}}
{{/each}}
<h2>Create Category</h2>

<form action="/admin/category/post" method="POST">
  <div class="form-group">
    <label for="name">name</label>
    <input class="validate" type="text" name="name" id="name" autofocus required />
  </div>
  <div class="form-group form-group-actions">
    <button type="submit"><i class="material-icons">add</i> create category</button>
    <a href="/admin/category">cancel</a>
  </div>
</form>
