{{#if categories}}
<h2>Categories ({{categories.length}})</h2>
{{/if}}

<div class="toolbar">
    <ul>
        <li>
            <a href="/admin/category/add">
                <i class="material-icons">add</i>
                create category
            </a>
        </li>
    </ul>
</div>
<div class="table-wrapper">
    <table>
        <colgroup>
            <col>
            <col class="col-actions">
        </colgroup>
        <thead>
            <tr>
                <th>name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each categories}}
            <tr>
                <td>{{name}}</td>
                <td>
                    <div class="actions">
                        <a href="/admin/category/edit/{{_id}}">
                            <i class="material-icons">edit</i>
                        </a>
                        <form action="/admin/category/delete" method="POST">
                            <input type="hidden" name="id" value="{{_id}}" />
                            <button type="submit">
                                <i class="material-icons">remove_circle</i>
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="2">no categories created</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>