<header>
    <h1><a href="/"> Hello Node!</a></h1>
    {{#if user}}
    <nav class="nav-header">
        <ul>
            <li><a href="/admin/category">Categories</a></li>
            <li><a href="/admin/post">Posts</a></li>
        </ul>
    </nav>
    {{/if}}
    <nav class="nav-header-user">
        <ul>
            {{!-- user comes from global variable defined on app.js --}}
            {{#if user}}
            <li>
                <a href="/user/logout">
                    <i class="material-icons">perm_identity</i>
                    logout ({{user.name}})
                </a>
            </li>
            {{else}}

            <li>
                <a href="/user/login">
                    <i class="material-icons">perm_identity</i>
                    login
                </a>
            </li>
            {{!-- <li>
                <a href="/user/register">
                    <i class="material-icons">perm_identity</i>
                    create account
                </a>
            </li> --}}
    </nav>
    {{/if}}
    </ul>
</header>