{{#if user}}
<div class="table-wrapper">
    <table>
        <thead>
            <tr>
                <th>title</th>
            </tr>
        </thead>
        {{#each post}}
        <tr>
            <td>{{title}} <small>{{category.name}}</small></td>
        </tr>
        {{else}}
        <tr>
            <td colspan="1">no post created</td>
        </tr>
        {{/each}}
        </tbody>
    </table>
</div>
{{/if}}