{{#each errors}}
<div class="msg msg-error">{{text}}</div>
{{else}}
{{/each}}
<h2>Edit Post</h2>

<form action="/admin/post/edit" method="POST">
  <input type="hidden" name="id" value="{{post._id}}" />

  <div class="form-group">
    <label for="title">title</label>
    <input class="validate" type="text" name="title" id="title" value="{{post.title}}" required autofocus  />
  </div>
  <div class="form-group">
    <label>categories</label>
    <select name="category">
      {{#each categories}}
      <option value={{_id}}>{{name}}</option>
      {{else}}
      <option value="0">no categories found</option>
      {{/each}}
    </select>
  </div>
  <div class="form-group form-group-actions">
    <button type="submit">
      <i class="material-icons">done</i>
      confirm update</button>
    <a href="/admin/post">cancel</a>
  </div>
</form>