{{#each errors}}
<div class="msg msg-error">{{text}}</div>
{{else}}
{{/each}}
<h2>Create Post</h2>

<form action="/admin/post/post" method="POST">
  <div class="form-group">
    <label for="title">title</label>
    <input class="validate" type="text" name="title" id="title" autofocus required/>
  </div>
  <div class="form-group">
    <label>category</label>
    <select name="category">
      {{#each categories}}
      <option value={{_id}}>{{name}}</option>
      {{else}}
      <option value="0">no categories found</option>
      {{/each}}
    </select>
  </div>
  <div class="form-group form-group-actions">
    <button type="submit"><i class="material-icons">add</i> create post</button>
    <a href="/admin/post">cancel</a>
  </div>
</form>