{{#if posts}}
<h2>Posts ({{posts.length}})</h2>
{{/if}}

<div class="toolbar">
    <ul>
        <li>
            <a href="/admin/post/add">
                <i class="material-icons">add</i>
                create post
            </a>
        </li>
    </ul>
</div>
<div class="table-wrapper">
    <table>
        <colgroup>
            <col span="3">
            <col class="col-actions">
        </colgroup>
        <thead>
            <tr>
                <th>title</th>
                <th>category</th>
                <th>created at</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each posts}}
            <tr>
                <td>{{title}}</td>
                <td>{{category.name}}</td>
                <td>{{created_at}}</td>
                <td>
                    <div class="actions">
                        <a href="post/edit/{{_id}}">
                            <i class="material-icons">edit</i>
                        </a>
                        <form action="post/delete" method="POST">
                            <input type="hidden" name="id" value="{{_id}}" />
                            <button type="submit">
                                <i class="material-icons">remove_circle</i>
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="3">no post created</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>