<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Node!</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/app.css" />
</head>
<body>
    {{>header}}
    {{#if error }}
    <div class="msg msg-error">{{error}}</div>
    {{/if}}
    {{>_msg}}
    <main>
        {{{body}}}
    </main>
    {{>footer}}
    </script>
</body>

</html>