{{#each errors}}
<div class="msg msg-error">{{text}}</div>
{{else}}
{{/each}}
<form action="/user/login" method="POST">
    <div class="form-group">
        <label for="name">name</label>
        <input class="validate" type="text" name="name" id="name" required autofocus />
    </div>
    <div class="form-group">
        <label for="password">password</label>
        <input class="validate" type="password" name="password"  id="password" required />
    </div>
    <div class="form-group form-group-actions">
        <button type="submit">login</button>
        <a href="/">cancel</a>
    </div>
</form>