{{#each errors}}
<div class="msg msg-error">{{text}}</div>
{{else}}
{{/each}}
<form action="/user/register" method="POST">
    <div class="form-group">
        <label for="name">name</label>
        <input class="validate" type="text" name="name" id="name" required autofocus />
    </div>

    <div class="form-group">
        <label for="email">email</label>
        <input class="validate" type="email" name="email" id="email" required />
    </div>

    <div class="form-group">
        <label for="password">password</label>
        <input class="validate" type="password" name="password" id="password" required />
    </div>

    <div class="form-group">
        <label for="password2">repeat password</label>
        <input class="validate" type="password" name="password2" id="password2" required />
    </div>
    <div class="form-group form-group-actions">
        <button type="submit"><i class="material-icons">add</i> create user</button>
        <a href="/">cancel</a>
    </div>
</form>