@font-face {
  font-family: "droid_sans";
  src: url("./DroidSans-webfont.eot");
  src: url("./DroidSans-webfont.eot?#iefix") format("embedded-opentype"),
    url("./DroidSans-webfont.woff") format("woff"),
    url("./DroidSans-webfont.ttf") format("truetype"),
    url("./DroidSans-webfont.svg#droid_sansregular") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "droid_sans";
  src: url("./DroidSans-Bold-webfont.eot");
  src: url("./DroidSans-Bold-webfont.eot?#iefix") format("embedded-opentype"),
    url("./DroidSans-Bold-webfont.woff") format("woff"),
    url("./DroidSans-Bold-webfont.ttf") format("truetype"),
    url("./DroidSans-Bold-webfont.svg#droid_sansbold") format("svg");
  font-weight: 600;
  font-style: normal;
}

:root {
  --default-gap: 15px;
  --default-font-size: 17px;
  --secondary-font-size: 13px;
  --tertiary-font-size: 11px;

  --default-font-family: "droid_sans", Arial, sans-serif;

  --default-bg: #e5e5e5;
  --secondary-bg: #f7f7f7;
  --link-color: #0288d1;
}

body {
  font-family: var(--default-font-family);
  font-size: var(--default-font-size);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

table form button[type="submit"] {
  border: none;
  background: none;
  color: var(--link-color);
  font-size: var(--default-font-size);
}

button[type="submit"]:hover {
  cursor: pointer;
}
button[type="submit"]:focus {
  outline: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

colgroup .col-actions {
  width: 100px;
}

tr:nth-child(even) {
  background-color: var(--secondary-bg);
}

tr:hover .actions {
  opacity: 1;
}

th {
  background-color: var(--default-bg);
  padding: var(--default-gap);
  text-align: left;
}

td {
  font-size: var(--secondary-font-size);
  padding: var(--default-gap);
}

header,
main,
footer {
  padding: var(--default-gap);
}

header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid var(--default-bg);
}

header h1 {
  margin-right: var(--default-gap);
}

.toolbar ul,
.nav-header ul,
.nav-header-user ul {
  display: flex;
}

.toolbar a,
.nav-header a,
.nav-header-user a {
  display: block;
  padding: calc(var(--default-gap) / 2);
  background: var(--default-bg);
  border-radius: calc(var(--default-gap) / 3);
  text-decoration: none;
  color: var(--link-color);
  margin-right: var(--default-gap);
}

.nav-header-user a {
  background: none;
  display: flex;
}

.toolbar a:last-child,
.nav-header li:last-child a {
  margin-right: 0;
}

.toolbar {
  margin-bottom: calc(var(--default-gap) * 2);
}

.toolbar a {
  display: flex;
}

main {
  flex: 1 0 auto;
}

.table-wrapper {
  border-radius: calc(var(--default-gap) / 3);
  overflow: hidden;
  border: 3px solid var(--default-bg);
}

.actions {
  display: flex;
  align-items: center;
  opacity: 0;
  transition: opacity 0.2s;
}

.msg {
  border: 1px solid;
  padding: var(--default-gap);
  color: grey;
}

.msg-error {
  border-color: #d32f2f;
  background-color: #ef5350;
  color: white;
}

.msg-info {
  border-color: #0288d1;
  background-color: #29b6f6;
  color: white;
}

/* Forms */
.form-group {
  padding: var(--default-gap);
}
.form-group-actions {
  display: flex;
  align-items: center;
}

form button[type="submit"] {
  font-family: var(--default-font-family);

  border: none;
  display: block;
  padding: calc(var(--default-gap) / 2);
  font-size: var(--default-font-size);
  background: var(--default-bg);
  border-radius: calc(var(--default-gap) / 3);
  text-decoration: none;
  color: var(--link-color);
  margin-right: var(--default-gap);
  display: flex;
  align-items: center;
}

select,
input[type="number"],
input[type="text"],
input[type="password"],
input[type="email"] {
  color: #4c4c4c;
  background: #fff;
  border: 2px solid #9b9b9b;
  padding: 6px 8px;
  font-weight: 400;
  display: block;
}
